* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  background-color: #FFFFFF;
}

main {
    position: relative;
}

.top-header {
    width: 100%;
    height: 40px;
    background-color: #032340;
    display: flex;
}

.top-header p {
    margin: 10px auto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.middle-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0px 46px 0px;
    position: relative;
}

.middle-header .fitland {
    display: inline-block;
    position: relative;
    bottom: 2px;
}

.middle-header .fitland img {
    width: 150px;
    height: 32px;
}

.middle-header .fitland p {
    color: #868686;
    font-size: 12px;
    font-weight: 700;
}

.middle-header .search-box {
    position: relative;
    width: 638px;
    height: 48px;
}

.middle-header .search-box input {
    border: 1px solid #CBCBCB;
    background-color: #F9F9F9;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.middle-header .search-box input:focus {
    outline: none;
}

.middle-header .search-box img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.middle-header .bag-profile {
    width: 206px;
    height: 48px;
    display: flex;
    gap: 16px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.middle-header .bag-profile .profile {
    width: 142px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 2px #00000014;
    display: flex;
    padding: 12px 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
}

.middle-header .bag-profile .profile p{
    width: 87px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    color: #404040;
}

.middle-header .bag-profile .profile img{
    width: 24px;
    height: 24px;
}

.middle-header .bag-profile .bag {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.middle-header .bag-profile .bag div {
    background-color: #FA541C;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    position: relative;
}

.middle-header .bag-profile .bag div :nth-child(2) {
    position: absolute;
    left: -10px;
    top: -6px;
    width: 10;
    /* box-shadow: 0px 0px 6px 0px #00000029; */
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9F9F9;
    padding: 16px 40px;
    margin: 0px 108px;
    border-radius: 16px;
}

.main-menu .right, .main-menu .left {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    height: 24;
}

.main-menu a{
    text-decoration: none;
    font-weight: 700;
    color: #000306;
    display: flex;
    flex-direction: row;
}

.intro {
    display: flex;
    flex-direction: row;
    position: relative;
}

.intro-content {
    display: flex;
    gap: 16px;
    margin-right: 122px;
    margin-top: 32px;
    margin-bottom: 56px;
    flex-direction: column;
    max-width: 435px;
}

.intro-content p {
    font-size: 16px;
    font-weight: 700;
    color: #606060;
}

.intro-content h2 {
    font-size: 32px;
    font-weight: 400;
}

.intro-content h2:first-of-type {
    color: #032340;
}

.intro-content h2:last-of-type {
    color: #FA541C;
}

.intro-content button {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px 24px;
    background-color: #032340;
    border-radius: 5px;
    max-width: 207px;
    justify-content: center;
    align-items: center;
}

.intro-content button p {
    color: #FFFFFF;
}

.intro-image {
    margin-top: 20px;
    padding-right: 12px;
    max-width: 422px;
    max-height: 475px;
    object-fit: cover;
}

.intro-features{
    margin-right: 61px;
    margin-top: 74px;
    max-height: 288px;
    max-width: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-features .features-box{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.intro-features div p {
    font-size: 16px;
    font-weight: 700;
    color: #404040;
}

.intro-features div strong {
    font-size: 24px;
    font-weight: 400px;
    color: #194165;
}


.intro-features img {
    background-color: #EBF5FF;
    padding: 20px;
    border-radius: 16px;
}

.intro-footer-image {
    position: absolute;
    top: 395px;
    z-index: -1;
}

.intro-footer-image img {
    width: 100%;
}

.new-products {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    max-height: 462px;
    gap: 24px;
    margin: 80px 120px;
}

.new-products .box1, .new-products .box2 {
    display: flex;
    flex-direction: column;
    max-width: 392px;
    height: 462px;
    position: relative;
}

.new-products .box1 div, .new-products .box2 div {
    background-color: #021526;
    height: 136px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.new-products a {
    text-decoration: none;
}

.new-products .box1 img, .new-products .box2 img {
    border-radius: 16px 16px 0px 0px;
}

.new-products span {
    color: #FC9877;
}

.new-products .box3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
}

.new-products .box3 h3{
    font-size: 24px;
    font-weight: 400;
    color: #032340;
}

.new-products .box3 p{
    font-weight: 700;
    color: #606060;
}

.new-products .box3 button{
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FA541C;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

.new-products-background img {
    width: 100%;
    position: absolute;
    top: 320px;
    z-index: -1;
}

.aerobic-products {
    position: relative;
}

.aerobic-products .aerobic-products-img{
    width: 100%;
}

.aerobic-products div{
    position: absolute;
    top: 159px;
    right: 122px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
    color: #01070D;
}

.aerobic-products div button{
    background-color: #032340;
    padding: 8px 24px;
    max-width: 236px;
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
}

.top-discount {
    margin: 80px 0px;
    position: relative;
    height: 572px;
    text-align: center;
}

.top-discount .discount1-background {
    position: absolute;
    top: 24.83px;
    z-index: -1;
}

.top-discount h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    font-size: 32px;
    font-weight: 400;
    color: #021526;
}

.top-discount .discount1-background img{
    height: 572.17px;
    width: 100%;
}

.top-discount .discount1-products {
    display: inline-flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    top: 93px;
}

.top-discount .discount1-products a {
    display: flex;
    flex-direction: column;
    max-width: 366px;
    position: relative;
    /* border: 1px solid #EDEDED; */
    /* border-radius: 12px; */
}

.top-discount .discount1-products .pr{
    width: 366px;
    height: 280px;
    object-fit: cover;
    object-position: top;
    border-radius: 16px 16px 0 0;
}

.top-discount .discount1-products .pr1-vip {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 40px;
    height: 40px;
}

.top-discount .discount1-products .products-info {
    background-color: #FFFFFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 8px;
    border-radius: 0 0 16px 16px;
    padding-bottom: 47px;
}

.top-discount .discount1-products .products-info .text1 {
    font-size: 16px;
    font-weight: 400;
    color: #01070D;
}

.top-discount .discount1-products .products-info .text2 {
    font-size: 14px;
    font-weight: 400;
    color: #000306;
}

.top-discount .discount1-products .products-info .text3 {
    font-size: 12px;
    font-weight: 400;
    color: #404040; 
}

.top-discount .discount1-products .products-info .available-colors {
    width: 44px;
    height: 18px;
}

.top-discount .d1-a1{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF7F4;
    top: 52px;
    left: 105px;
    gap: 8px;
    padding: 8px;
    color: #032340;
    font-size: 18px;
}

.top-discount .d1-a1 img {
    width: 24px;
    height: 24px;
}

.top-discount .d1-a2{
    position: absolute;
    background-color: #FFF7F4;
    width: 32px;
    height: 32px;
    right: 69px;
    top: 286px;
}

.top-discount .d1-a3{
    position: absolute;
    background-color: #FFF7F4;
    width: 32px;
    height: 32px;
    left: 69px;
    top: 286px;
}